<mat-card>
	<mat-card-content>
		<mat-card-title>Forms basic</mat-card-title>
		<form [formGroup]="userForm" novalidate>
        <div class="form-group">
            <label for="name">Skills</label>
           <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" 
                                  [settings]="settings" 
                                  (onSelect)="onItemSelect($event)"
                                  (onDeSelect)="OnItemDeSelect($event)" 
                                  (onSelectAll)="onSelectAll($event)" 
                                  (onDeSelectAll)="onDeSelectAll($event)" formControlName="skills">
            </angular2-multiselect>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="name">Email Address</label>
            <input class="form-control" formControlName="email">
        </div>
        <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!userForm.valid">Submit</button>
    </form>
	</mat-card-content>
</mat-card>