<mat-card>
	<mat-card-content>
		<mat-card-title>Stipe Individual Document</mat-card-title>
		<div id="main">
			<div id="checkout">
				<div id="payment-form">
					<form id="document-form" enctype="multipart/form-data">
						<fieldset>
							<label>
                <span>Account</span>
                <input type="text" name="account" id="account" value="" class="field">
              </label>
						</fieldset>
						<fieldset>
							<label>Identity File</label>
							<label>
                <span>Front</span>
                <input type="file" (change)='onFileSelect($event)' id="file" class="field">
              </label>
							<label>
                <span>Back</span>
                <input type="file" (change)='onFileSelect($event)' id="file" class="field">
              </label>
						</fieldset>
						<button id="document-button">Upload</button>
					</form>
				</div>
				<div id="debug-message"></div>
			</div>
		</div>
	</mat-card-content>
</mat-card>